.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    margin-bottom: 30px;
    position: relative;
}
.site-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 64px;
    letter-spacing: -1px;
    margin-bottom: 0;
}
body.with-navbar{
  padding-top: 70px;
}
body>footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    margin-top: 30px;
}
